uszipcode
python-dateutil
python-dotenv
twilio>=6.24.0
https://github.com/celery/celery/zipball/master#egg=celery
flower
redis
flask
flask-httpauth
pyjwt
Werkzeug
SpeechRecognition
google-api-python-client
oauth2client
requests
simplejson
